# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and Cache Directories
temp/
output/
.tmp-*
*.tar
*.log
*.json_stats

# Environments
.env
.venv
env/
venv/
ENV/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
